{
  "openapi": "3.0.3",
  "info": {
    "title": "Convex App - OpenAPI 3.0",
    "version": "0.0.0"
  },
  "servers": [
    {
      "url": "https://industrious-bear-173.convex.cloud"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "query",
      "description": "Functions that read data"
    },
    {
      "name": "mutation",
      "description": "Functions that write/update/delete data"
    },
    {
      "name": "action",
      "description": "Functions that can make calls to external APIs"
    }
  ],
  "paths": {
    "/api/run/program/createProgram": {
      "post": {
        "summary": "Calls a mutation at the path program.js:createProgram",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_program.createProgram"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_program.createProgram"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/program/listPrograms": {
      "post": {
        "summary": "Calls a query at the path program.js:listPrograms",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_program.listPrograms"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_program.listPrograms"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/program/getProgramById": {
      "post": {
        "summary": "Calls a query at the path program.js:getProgramById",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_program.getProgramById"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_program.getProgramById"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/program/updateProgram": {
      "post": {
        "summary": "Calls a mutation at the path program.js:updateProgram",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_program.updateProgram"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_program.updateProgram"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/program/deleteProgram": {
      "post": {
        "summary": "Calls a mutation at the path program.js:deleteProgram",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_program.deleteProgram"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_program.deleteProgram"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/program/getPurchasesCount": {
      "post": {
        "summary": "Calls a query at the path program.js:getPurchasesCount",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_program.getPurchasesCount"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_program.getPurchasesCount"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/program_enrollments/createEnrollment": {
      "post": {
        "summary": "Calls a mutation at the path program_enrollments.js:createEnrollment",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_program_enrollments.createEnrollment"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_program_enrollments.createEnrollment"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/program_enrollments/listByCampaign": {
      "post": {
        "summary": "Calls a query at the path program_enrollments.js:listByCampaign",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_program_enrollments.listByCampaign"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_program_enrollments.listByCampaign"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/program_enrollments/getEarningsTimeline": {
      "post": {
        "summary": "Calls a query at the path program_enrollments.js:getEarningsTimeline",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_program_enrollments.getEarningsTimeline"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_program_enrollments.getEarningsTimeline"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/program_enrollments/getEnrollmentByTransactionId": {
      "post": {
        "summary": "Calls a query at the path program_enrollments.js:getEnrollmentByTransactionId",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_program_enrollments.getEnrollmentByTransactionId"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_program_enrollments.getEnrollmentByTransactionId"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/program_subjects/createProgramSubject": {
      "post": {
        "summary": "Calls a mutation at the path program_subjects.js:createProgramSubject",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_program_subjects.createProgramSubject"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_program_subjects.createProgramSubject"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/program_subjects/listProgramSubjects": {
      "post": {
        "summary": "Calls a query at the path program_subjects.js:listProgramSubjects",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_program_subjects.listProgramSubjects"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_program_subjects.listProgramSubjects"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/program_subjects/getProgramSubject": {
      "post": {
        "summary": "Calls a query at the path program_subjects.js:getProgramSubject",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_program_subjects.getProgramSubject"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_program_subjects.getProgramSubject"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/program_subjects/updateProgramSubject": {
      "post": {
        "summary": "Calls a mutation at the path program_subjects.js:updateProgramSubject",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_program_subjects.updateProgramSubject"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_program_subjects.updateProgramSubject"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/program_subjects/deleteProgramSubject": {
      "post": {
        "summary": "Calls a mutation at the path program_subjects.js:deleteProgramSubject",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_program_subjects.deleteProgramSubject"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_program_subjects.deleteProgramSubject"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/session/createSession": {
      "post": {
        "summary": "Calls a mutation at the path session.js:createSession",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_session.createSession"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_session.createSession"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/session/validateSession": {
      "post": {
        "summary": "Calls a mutation at the path session.js:validateSession",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_session.validateSession"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_session.validateSession"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/session/deleteSession": {
      "post": {
        "summary": "Calls a mutation at the path session.js:deleteSession",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_session.deleteSession"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_session.deleteSession"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/subjects/createSubject": {
      "post": {
        "summary": "Calls a mutation at the path subjects.js:createSubject",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_subjects.createSubject"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_subjects.createSubject"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/subjects/listSubjects": {
      "post": {
        "summary": "Calls a query at the path subjects.js:listSubjects",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_subjects.listSubjects"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_subjects.listSubjects"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/subjects/getSubject": {
      "post": {
        "summary": "Calls a query at the path subjects.js:getSubject",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_subjects.getSubject"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_subjects.getSubject"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/subjects/updateSubject": {
      "post": {
        "summary": "Calls a mutation at the path subjects.js:updateSubject",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_subjects.updateSubject"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_subjects.updateSubject"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/subjects/deleteSubject": {
      "post": {
        "summary": "Calls a mutation at the path subjects.js:deleteSubject",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_subjects.deleteSubject"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_subjects.deleteSubject"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/transactions/createTransaction": {
      "post": {
        "summary": "Calls a mutation at the path transactions.js:createTransaction",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_transactions.createTransaction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_transactions.createTransaction"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/transactions/listTransactions": {
      "post": {
        "summary": "Calls a query at the path transactions.js:listTransactions",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_transactions.listTransactions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_transactions.listTransactions"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/transactions/getTransactionById": {
      "post": {
        "summary": "Calls a query at the path transactions.js:getTransactionById",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_transactions.getTransactionById"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_transactions.getTransactionById"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/transactions/getTransactionsByPartner": {
      "post": {
        "summary": "Calls a query at the path transactions.js:getTransactionsByPartner",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_transactions.getTransactionsByPartner"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_transactions.getTransactionsByPartner"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/transactions/updateTransaction": {
      "post": {
        "summary": "Calls a mutation at the path transactions.js:updateTransaction",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_transactions.updateTransaction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_transactions.updateTransaction"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/transactions/deleteTransaction": {
      "post": {
        "summary": "Calls a mutation at the path transactions.js:deleteTransaction",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_transactions.deleteTransaction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_transactions.deleteTransaction"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/transactions/getTransactionByMpesaCode": {
      "post": {
        "summary": "Calls a query at the path transactions.js:getTransactionByMpesaCode",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_transactions.getTransactionByMpesaCode"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_transactions.getTransactionByMpesaCode"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/transactions/getTransactionByCheckoutRequestId": {
      "post": {
        "summary": "Calls a query at the path transactions.js:getTransactionByCheckoutRequestId",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_transactions.getTransactionByCheckoutRequestId"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_transactions.getTransactionByCheckoutRequestId"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/transactions/getRecentTransactionByPhone": {
      "post": {
        "summary": "Calls a query at the path transactions.js:getRecentTransactionByPhone",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_transactions.getRecentTransactionByPhone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_transactions.getRecentTransactionByPhone"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/transactions/getAllTransactions": {
      "post": {
        "summary": "Calls a query at the path transactions.js:getAllTransactions",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_transactions.getAllTransactions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_transactions.getAllTransactions"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/transactions/getTransactionsByPhoneNumber": {
      "post": {
        "summary": "Calls a query at the path transactions.js:getTransactionsByPhoneNumber",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_transactions.getTransactionsByPhoneNumber"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_transactions.getTransactionsByPhoneNumber"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/user/createUser": {
      "post": {
        "summary": "Calls a mutation at the path user.js:createUser",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_user.createUser"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_user.createUser"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/user/getUsers": {
      "post": {
        "summary": "Calls a query at the path user.js:getUsers",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_user.getUsers"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_user.getUsers"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/user/getUserById": {
      "post": {
        "summary": "Calls a query at the path user.js:getUserById",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_user.getUserById"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_user.getUserById"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/user/updateUser": {
      "post": {
        "summary": "Calls a mutation at the path user.js:updateUser",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_user.updateUser"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_user.updateUser"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/user/deleteUser": {
      "post": {
        "summary": "Calls a mutation at the path user.js:deleteUser",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_user.deleteUser"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_user.deleteUser"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/user/login": {
      "post": {
        "summary": "Calls a mutation at the path user.js:login",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_user.login"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_user.login"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/user/getUserByCampaign": {
      "post": {
        "summary": "Calls a query at the path user.js:getUserByCampaign",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_user.getUserByCampaign"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_user.getUserByCampaign"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/wallet/createWallet": {
      "post": {
        "summary": "Calls a mutation at the path wallet.js:createWallet",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_wallet.createWallet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_wallet.createWallet"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/wallet/getWalletByPartnerId": {
      "post": {
        "summary": "Calls a query at the path wallet.js:getWalletByPartnerId",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_wallet.getWalletByPartnerId"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_wallet.getWalletByPartnerId"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/wallet/verifyPin": {
      "post": {
        "summary": "Calls a query at the path wallet.js:verifyPin",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_wallet.verifyPin"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_wallet.verifyPin"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/wallet/updateWalletBalance": {
      "post": {
        "summary": "Calls a mutation at the path wallet.js:updateWalletBalance",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_wallet.updateWalletBalance"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_wallet.updateWalletBalance"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/wallet/getWalletByPartner": {
      "post": {
        "summary": "Calls a query at the path wallet.js:getWalletByPartner",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_wallet.getWalletByPartner"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_wallet.getWalletByPartner"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/wallet/updateWallet": {
      "post": {
        "summary": "Calls a mutation at the path wallet.js:updateWallet",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_wallet.updateWallet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_wallet.updateWallet"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/wallet/getAllWallets": {
      "post": {
        "summary": "Calls a query at the path wallet.js:getAllWallets",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_wallet.getAllWallets"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_wallet.getAllWallets"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/assets/getAssetsByCampaign": {
      "post": {
        "summary": "Calls a query at the path assets.js:getAssetsByCampaign",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_assets.getAssetsByCampaign"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_assets.getAssetsByCampaign"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/audit/createAuditLog": {
      "post": {
        "summary": "Calls a mutation at the path audit.js:createAuditLog",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_audit.createAuditLog"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_audit.createAuditLog"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/audit/getAuditLogs": {
      "post": {
        "summary": "Calls a query at the path audit.js:getAuditLogs",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_audit.getAuditLogs"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_audit.getAuditLogs"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/audit/getAuditLogsByAction": {
      "post": {
        "summary": "Calls a query at the path audit.js:getAuditLogsByAction",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_audit.getAuditLogsByAction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_audit.getAuditLogsByAction"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/campaign/createCampaign": {
      "post": {
        "summary": "Calls a mutation at the path campaign.js:createCampaign",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_campaign.createCampaign"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_campaign.createCampaign"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/campaign/getAllCampaigns": {
      "post": {
        "summary": "Calls a query at the path campaign.js:getAllCampaigns",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_campaign.getAllCampaigns"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_campaign.getAllCampaigns"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/campaign/getCampaignById": {
      "post": {
        "summary": "Calls a query at the path campaign.js:getCampaignById",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_campaign.getCampaignById"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_campaign.getCampaignById"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/campaign/getCampaignsByPartner": {
      "post": {
        "summary": "Calls a query at the path campaign.js:getCampaignsByPartner",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_campaign.getCampaignsByPartner"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_campaign.getCampaignsByPartner"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/campaign/getCampaignsByProgram": {
      "post": {
        "summary": "Calls a query at the path campaign.js:getCampaignsByProgram",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_campaign.getCampaignsByProgram"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_campaign.getCampaignsByProgram"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/campaign/getCampaignsByUser": {
      "post": {
        "summary": "Calls a query at the path campaign.js:getCampaignsByUser",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_campaign.getCampaignsByUser"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_campaign.getCampaignsByUser"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/campaign/updateCampaignStatus": {
      "post": {
        "summary": "Calls a mutation at the path campaign.js:updateCampaignStatus",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_campaign.updateCampaignStatus"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_campaign.updateCampaignStatus"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/campaign/deleteCampaign": {
      "post": {
        "summary": "Calls a mutation at the path campaign.js:deleteCampaign",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_campaign.deleteCampaign"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_campaign.deleteCampaign"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/campaign/getCampaignAssets": {
      "post": {
        "summary": "Calls a query at the path campaign.js:getCampaignAssets",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_campaign.getCampaignAssets"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_campaign.getCampaignAssets"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/campaign/getCampaignByPromoCode": {
      "post": {
        "summary": "Calls a query at the path campaign.js:getCampaignByPromoCode",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_campaign.getCampaignByPromoCode"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_campaign.getCampaignByPromoCode"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/campaign/getCampaignEarnings": {
      "post": {
        "summary": "Calls a query at the path campaign.js:getCampaignEarnings",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_campaign.getCampaignEarnings"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_campaign.getCampaignEarnings"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/curricula/createCurriculum": {
      "post": {
        "summary": "Calls a mutation at the path curricula.js:createCurriculum",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_curricula.createCurriculum"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_curricula.createCurriculum"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/curricula/listCurricula": {
      "post": {
        "summary": "Calls a query at the path curricula.js:listCurricula",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_curricula.listCurricula"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_curricula.listCurricula"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/curricula/getCurriculum": {
      "post": {
        "summary": "Calls a query at the path curricula.js:getCurriculum",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_curricula.getCurriculum"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_curricula.getCurriculum"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/curricula/updateCurriculum": {
      "post": {
        "summary": "Calls a mutation at the path curricula.js:updateCurriculum",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_curricula.updateCurriculum"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_curricula.updateCurriculum"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/curricula/deleteCurriculum": {
      "post": {
        "summary": "Calls a mutation at the path curricula.js:deleteCurriculum",
        "tags": [
          "mutation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_curricula.deleteCurriculum"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_curricula.deleteCurriculum"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/curricula/getCurriculumById": {
      "post": {
        "summary": "Calls a query at the path curricula.js:getCurriculumById",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_curricula.getCurriculumById"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_curricula.getCurriculumById"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/partner/getAllPartners": {
      "post": {
        "summary": "Calls a query at the path partner.js:getAllPartners",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_partner.getAllPartners"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_partner.getAllPartners"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          },
          "500": {
            "description": "Convex Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/partner/authenticateUser": {
      "post": {
        "summary": "Calls a query at the path partner.js:authenticateUser",
        "tags": [
          "query"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request_partner.authenticateUser"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Convex executed your request and returned a result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_partner.authenticateUser"
                }
              }
            }
          },
          "400": {
            "description": "Failed operation",
[...]
